<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}"
    <title>chupa</title>
</head>
<body>
    <h1>Hello people, my name is HTML </h1>
    <h1>oi</h1>
<p>Phrase: {{ phrase }}</p>
{% for x in name %}
    <p>{{x}}</p>
{% endfor %}

<button >Here!</button>
</body>
</html>
