<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
      <h1>Add a Teacher</h1>
      <form action="/process_teacher" method="POST" >
        {% csrf_token%}
        <div class="form-row">
        <div class="col-7">
            <input type="text" name="first_name" class="form-control" placeholder="First Name">
        </div>
        <div class="col">
            <input type="text" name="age" class="form-control" placeholder="age">
        </div>
        <div class="col">
            <input type="submit" class="form-control" value="Submit">
        </div>
        </div>
    </form>
    <h1>Add a Students</h1>
    <form action="/process_student" method="POST" >
        {% csrf_token%}
        <div class="form-row">
        <div class="col-7">
            <input type="text" name="first_name" class="form-control" placeholder="First Name">
        </div>
        <div class="col">
            <input type="text" name="catch" class="form-control" placeholder="CatchPhrase">
        </div>
        <div class="dropdown">
            <select name="teacher_name">
                {% for teacher in all_teacher %}
                    <option value="{{teacher.id}}">{{teacher.name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col">
            <input type="submit" class="form-control" value="Submit">
        </div>
        
        </div>
    </form>
    <h1 class="table table-striped"> Teacher</h1>
        <ul>
            {% for teacher in all_teacher %}
                <li scope="col" value="{{teacher.id}}">{{teacher.name}} {{teacher.students.count}}</li>
            <ul>
            
                {% for student in teacher.students.all %}
                    <li scope="col" >{{student.name}}</li>
                    {%endfor%}
                <!-- <form action="destroy/{{x.id}}" method="POST">
                    {% csrf_token %}
                    <th scope="col"><input type="submit" value="Delete"></th>
                </form> -->
                
            </ul>
            {%endfor%}
        </ul>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>