<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <form action="/create_message" method="POST">
      {% csrf_token %}
      <div class="jumbotron">
        <div class="card">
          <div class="card-header">
            Post a message
          </div>
          <div class="card-body">
            <textarea name="message" class="card-text"></textarea>
            <input value="Post" type="submit" class="btn btn-primary">
          </div>
        </div>
    </form>

    </div>
    <div class="jumbotron">
    {% for post in message %}
    
    <ul class="list-group">
      <li class="list-group-item list-group-item-primary">{{post.user.name}} {{post.created_at}}</li>
      <li class="list-group-item list-group-item-light"> {{post.message}}</li>
      <form action="/delete_message/{{post.id}}" method="POST">
        {% csrf_token %}
      <li><input type="submit" value="Delete"></li>
      </form>
      <form action="create_comment/{{post.id}}" method="POST">
        {% csrf_token %}
        {% for comment in post.comments_message.all %}
          <li class="list-group-item list-group-item-dark">{{comment.comment}}</li> 
        {% endfor %}
        <p>Post Comment:</p>
      <textarea name="comment"> </textarea>
      <input value="Post" type="submit">
      </form>
    </ul>
    {% endfor %}
    </div>


    <a href="/delete_session" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Logout</a>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>